.App {
  text-align: center;
  background-color: #868E96;
  min-height: 100vh;
}

header{
  display: flex;
  width: 100vw;
  justify-content: space-around;

  
}
main{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
header span{
  color: #af022b;
  
}
